@font-face {
    font-family: 'Nexa Bold';
    src: url('fonts/Nexa-Bold.otf') format('opentype');
}

.navbar {
    width: 100%;
    background-color: #2b0a0a; 
    padding: 15px 0;
    display: flex;
    justify-content: center;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}

.navbar .nav-link {
    color: white;
    margin: 16px 16px;
    text-decoration: none;
    font-size: 18px !important;  
    font-weight: bold;
}    

.navbar a {
    font-size: 20px !important;
}    

    .navbar .nav-link:hover {
        text-decoration: underline;
    }

body {
    padding-top: 60px; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2b0a0a 0%, #080a1b 60%, #040614 100%);
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.video-section {
    margin-bottom: 50px;
}

.video-section h2 {
    text-align: left;  
    margin-left: 32.4%;  
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fullscreen-video {
    width: 100%;
    max-width: 900px; 
    height: auto; 
    aspect-ratio: 16 / 9; 
    object-fit: contain; 
    background-color: rgba(0, 0, 0, 0); 
}

.thumbnail-scroll {
    width: 220px; 
    height: 400px; 
    border: 0px #ffffff00; 
    padding: 0px;
}

.thumbnails {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.thumbnail {
    width: 200px; 
    height: 120px; 
    cursor: pointer;
}


.thumbnail:hover {
    transform: scale(1.05);
}

.volume-container {
    text-align: center; 
    margin-top: 10px; 
}

.video-controls {
    display: flex;
    gap: 10px;
}

.video-controls button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Nexa Bold', sans-serif;
}

.video-controls button:hover {
    background-color: #555;
}


